<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Comparison</title>
</head>
<body>
    <p>Please add texts which you want to compare.</p>
    <form action="" method="post">
        <label for="text1">Text 1</label><br>
        <textarea name="text1" id="text1" rows="10" cols="60" placeholder="Enter text here.."></textarea>
        <br><br>
        <label for="text2">Text 2</label><br>
        <textarea name="text2" id="text2" name="text2" rows="10" cols="60" placeholder="Enter text here.."></textarea>
        <br><br>
        <button type="submit">Compare</button>

    </form>
    {% if score is not none %}
    <br>
    <p><b>The texts are {{score}} similar</b></p>
    {% endif %}
    <br>
    
    
</body>
</html>